{% import 'appbuilder/general/lib.html' as lib %}

{% macro render_simulation_assumption(field, begin_sep_label='', end_sep_label='', begin_sep_field='', end_sep_field='') %}

    {{begin_sep_label|safe}}
        <label for="{{field.id}}" control-label>
            {{ field.label.text }}
            {% if field.flags.required %}
                <strong style="color: red">&#42;</strong>
            {% endif %}
        </label>
    {{end_sep_label|safe}}
    {{begin_sep_field|safe}}
<!--        <input type="radio" name="assumption-type" value="exist" id="assumption-choice1" checked>-->
<!--        <label for="assumption-choice1">Select from uploaded scenarios</label>-->
        {{ field(**kwargs)|safe }}
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#assumption-file-upload-modal" id="toggle-upload"
                >Upload new assumption</button>
            <div class="modal fade" id="assumption-file-upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title">Upload new Assumption</h5>

                        </div>
                        <div class="modal-body">
                            <label for="assumption-file">Upload new assumption template</label>
                            <input type="file" id="assumption-file" value="assumption-file" name="assumption">

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="upload-btn">Upload</button>
                            <button class="btn btn-secondary" data-dismiss="modal" id="close-btn">
                                Close
                            </button>

                        </div>
                    </div>
                </div>
            </div>
<!--        <input type="radio" name="assumption-type" value="upload" id="assumption-choice2">-->


            <span class="help-block">{{ field.description }}</span>
        {% if field.errors %}
            <div class="alert alert-danger">
            {% for error in field.errors %}
              {{ _(error) }}
            {% endfor %}
            </div>
        {% endif %}
    {{end_sep_field|safe}}
    {% block tail_js %}
        <script>
            $('#toggle-upload').click(function(e) {
                e.preventDefault();
            })
            $('#upload-btn').click(function(e) {
                e.preventDefault();
                // console.log()
                if(document.getElementById('assumption-file').files.length < 0){
                    alert('Please select a file!');
                }
                else{
                    let file = document.getElementById('assumption-file').files[0];
                    let formdata = new FormData();
                    formdata.append("file", file, file.name);
                    formdata.append("upload_file", true);

                    $.ajax({
                        type: "POST",
                        url: "upload_assumption_ajax",
                        xhr: function () {
                            var myXhr = $.ajaxSettings.xhr();
                            return myXhr;
                        },
                        success: function (data) {
                            alert('upload success')
                        },
                        error: function (error) {
                            alert('upload failed')
                        },
                        async: true,
                        data: formdata,
                        cache: false,
                        contentType: false,
                        processData: false,
                        timeout: 60000
                    });
                }


                // if ($(event.target).attr('data') != null) {
                //     var url = $(event.target).attr('data');
                //     var csrf_token = "{{ csrf_token() if csrf_token else '' }}";
                //     $.ajaxSetup({
                //         beforeSend: function (xhr, settings) {
                //             if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                //                 xhr.setRequestHeader("X-CSRFToken", csrf_token);
                //             }
                //         }
                //     });
                //     $.ajax({
                //         method: "GET",
                //         url: url,
                //         contentType: "application/json; charset=utf-8"
                //     }).done(function (data) {
                //         $(".site-widget").html(data)
                //     }).fail(function (error) {
                //         var respJSON = error.responseJSON;
                //         var errorMsg = error.responseText;
                //         if (respJSON && respJSON.message) {
                //             errorMsg = respJSON.message;
                //         }
                //         alert("ERROR: " + errorMsg);
                //     });
                // }
            })
        </script>
    {% endblock %}

{% endmacro %}


{% macro render_form_controls() %}
    <div class="well well-sm">
        <button id="submit_button" type="submit" class="btn  btn-sm btn-primary">{{_("Save")}}
            <i class="fa fa-save"></i></button>
        {{ lib.lnk_back() }}
        <script>
            $('#submit_button').click( function(e) {
                e.preventDefault();
                let assumption_choice;
                if(document.getElementById('assumption-choice1').checked)
                {
                    assumption_choice=1
                }
                else{
                    if(document.getElementById('assumption-choice2').checked)
                    {
                        assumption_choice=2
                        form = document.getElementById('model_form');

                        let assumption_file = document.createElement('input');
                        assumption_file.type = 'hidden';

                        assumption_file.files = document.getElementById('assumption-file').files;
                        assumption_file.name = 'assumption-file'

                        form.appendChild(assumption_file)
                        console.log(form)
                        console.log(assumption_file)
                    }
                }
                console.log(assumption_choice)
                // list = []
                // table = document.getElementById('sites_table')
                // for(var i = 0, row; row = table.rows[i]; i++) {
                //     if (row.id != ''){
                //         list.push(row.id);
                //     }
                // }
                // form = document.getElementById('model_form');
                // var sites_list = document.createElement("input");
                // sites_list.type = 'hidden';
                // sites_list.name = 'sites';
                // sites_list.id = 'sites';
                // sites_list.value = list;
                // form.appendChild(sites_list);
                form.submit()
            })
        </script>
    </div>
{% endmacro %}