{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends 'appbuilder/general/widgets/dashboard_list.html' %}
{% import 'appbuilder/general/lib.html' as lib %}

{% set is_team_owner = appbuilder.sm.get_role_in_team(g.user, session_team[0]).name == 'team_owner' %}
{% set download_prefix = "https://colin-query-test.s3-ap-southeast-2.amazonaws.com/" %}

{% block begin_title %}
       <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center  ml-md-auto ">
                    <li class="nav-item d-xl-none">
                        <!-- Sidenav toggler -->
                        <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-sm-none">
                        <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                            <i class="ni ni-zoom-split-in"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ni ni-bell-55"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                            <!-- Dropdown header -->
                            <div class="px-3 py-3">
                                <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">3</strong> notifications.</h6>
                            </div>
                            <!-- List group -->
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Icon and Link -->
                                            <i class="ni ni-check-bold text-primary avatar rounded-circle"></i>
                                        </div>
                                        <div class="col ml--2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="mb-0 text-sm">Data Team</h4>
                                                </div>
                                                <div class="text-right text-muted">
                                                    <small>2 hrs ago</small>
                                                </div>
                                            </div>
                                            <p class="text-sm mb-0"> 24 Bristol Road is ready!</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Icon and Link -->
                                            <i class="ni ni-check-bold text-primary avatar rounded-circle"></i>
                                        </div>
                                        <div class="col ml--2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="mb-0 text-sm">Data Team</h4>
                                                </div>
                                                <div class="text-right text-muted">
                                                    <small>3 hrs ago</small>
                                                </div>
                                            </div>
                                            <p class="text-sm mb-0">838 Collins treet data is ready </p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <img alt="Image placeholder" src="/static/assets/images/team-3.jpg" class="avatar rounded-circle">
                                        </div>
                                        <div class="col ml--2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="mb-0 text-sm">John Snow</h4>
                                                </div>
                                                <div class="text-right text-muted">
                                                    <small>5 hrs ago</small>
                                                </div>
                                            </div>
                                            <p class="text-sm mb-0">Shared a search with you</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- View all -->
                            <a href="#" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                        </div>
                    </li>

                </ul>
                <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="/static/assets/images/team-4.jpg">
                  </span>
                                <div class="media-body  ml-2  d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right ">
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <a href="/solarbiuserinfoeditview/form" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>My profile</span>
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ni ni-settings-gear-65"></i>
                                <span>Settings</span>
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ni ni-support-16"></i>
                                <span>Support</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{appbuilder.get_url_for_logout}}" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block begin_content scoped %}
    <div class="list-cards-wrapper">
{% endblock %}

{% block begin_loop_header scoped %}
    <p>NMSL</p>
{% endblock %}

{% block begin_loop_values %}
    {% for item in value_columns %}
        <div class="list-card">
            {% set formatter = formatters_columns.get(value) %}
            {% if 'None' in item['slice_query_id'] %}
                <a data-href={{ "/solar/delete/"+item['slice_id'] }} type="button" class="delete-btn" data-toggle="modal" data-target="#deleteData"><i class="far fa-trash-alt"></i></a>
                <div class="list-container">
                    <div class="ribbon saved-ribbon-top-right"><span>saved</span></div>
                    {% if formatter %}
                        {{ formatter(item['view_slice_name']) }}
                    {% else %}
                        {{ item['view_slice_name'] }}
                    {% endif %}
                    <hr style="border-bottom: 1px solid #C7C9CB; width: 80px; margin: -10px auto 10px;">
                    {% if is_team_owner %}
                        <h6>Owner: {{ item['changed_by_name'] }}</h6>
                    {% endif %}
                    <i class="fas fa-chart-pie my-data-pie"></i>
                    {{ item['view_slice_link'] }}
                </div>
            {% else %}
                <div class="ribbon ribbon-top-right"><span>paid</span></div>
                <div class="download-container">
                {% if formatter %}
                    {{ formatter(item['view_slice_name']) }}
                {% else %}
                   {% set info = item['view_slice_name'].split('_') %}
                   <table>
                      {% if not is_team_owner %}
                          <div style="margin-top: 20px"></div>
                      {% endif %}
                      <tr>
                        <td>Address</td>
                        <td><div>{{ info[0][3:] }}</div></td>
                      </tr>
                      <tr>
                        <td>Start Date</td>
                        <td>{{ info[1] }}</td>
                      </tr>
                      <tr>
                        <td>End Date</td>
                        <td>{{ info[2] }}</td>
                      </tr>
{#                      <tr>#}
{#                        <td>Type</td>#}
{#                        <td>{{ info[3] }}</td>#}
{#                      </tr>#}
                      <tr>
                        <td>Resolution</td>
                        <td>{{ info[4][:-4] }}</td>
                      </tr>
                      {% if is_team_owner %}
                          <tr>
                            <td>Owner</td>
                            <td>{{ item['changed_by_name'] }}</td>
                          </tr>
                      {% endif %}
                      <tr>
                        <td>Status</td>
                          {% if item['slice_query_id'] in obj_keys %}
                             <td>
                             {% for aok in avail_object_keys %}
                                 {% if item['slice_query_id'] in aok %}
                                    Completed
                                    <span class="download-link" onclick="download1('{{ download_prefix + aok }}')">
                                      <i class="fas fa-arrow-circle-down"></i>
                                    </span>
                                 {% endif %}
                             {% endfor %}
                             </td>
                          {% else %}
                              <td>Still running</td>
                          {% endif %}
                      </tr>
                    </table>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="modal fade" id="deleteData" tabindex="-1" role="dialog" aria-labelledby="deleteDataTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteDataTitle">Delete Saved Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete this saved data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn delete-close-btn" data-dismiss="modal">Close</button>
            <a id="deleteButton" type="button" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block tail_js %}
    <script>
        function download1(link) {
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = link;
            {#document.body.appendChild(a);#}
            a.click();
            a.remove();
        }
    </script>
    <script>
        $(document).ready(function(){
            $('#deleteData').on('shown.bs.modal',function(e){
                $(this).find('#deleteButton').attr('href', ($(e.relatedTarget).attr("data-href")));
            });


            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                if ($('input:radio[name="selector"]:checked').val() === 'all') {
                    $(".list-card").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                } else if ($('input:radio[name="selector"]:checked').val() === 'saved') {
                    $(".list-card").filter(function() {
                        $(this).toggle(
                            $(this).text().toLowerCase().indexOf(value) > -1 && $(this).find('span').text().toLowerCase().indexOf('saved') > -1
                        )
                    });
                } else {
                    $(".list-card").filter(function() {
                        $(this).toggle(
                            $(this).text().toLowerCase().indexOf(value) > -1 && $(this).find('span').text().toLowerCase().indexOf('paid') > -1
                        )
                    });
                }

            });

          $(".list-card > div > p").each(function() {
              var el= $(this);
              var textLength = el.html().length;
              if (textLength <= 17) {
                  el.css('font-size', '1.5em');
              } else if (textLength > 17 && textLength <= 25) {
                  el.css('font-size', '1.3em');
              } else if (textLength > 25) {
                  el.css('font-size', '1.0em');
              }
          });
        });

        $('input:radio[name="selector"]').change(function() {
            $('#searchInput').val('');
            if ($(this).val() === 'all') {
                $(".list-card").show()
            } else if ($(this).val() === 'saved') {
                $(".list-card").filter(function() {
                    $(this).toggle($(this).find('span').text().toLowerCase().indexOf('saved') > -1)
                });
            } else if ($(this).val() === 'paid') {
                $(".list-card").filter(function() {
                    $(this).toggle($(this).find('span').text().toLowerCase().indexOf('paid') > -1)
                });
            }
        });

    </script>
{% endblock %}

{% block end_content scoped %}
{#    </table>#}
    </div>
{% endblock %}
