{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends 'appbuilder/general/widgets/profile.html' %}
{% import 'appbuilder/general/lib.html' as lib %}

{% set is_team_owner = appbuilder.sm.get_role_in_team(g.user, session_team[0]).name == 'team_owner' %}

{% block header %}
    <div class="header pb-6 d-flex align-items-center"
         style="min-height: 500px; background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Hello User</h1>
                    <p class="text-white mt-0 mb-5">This is your profile page. You can see
                        the You details,
                        invite people to your team and adjust settings</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-4 order-xl-2">
                <div class="card bg-gradient-primary">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center">
                            <div class="col">
                                {% if card_info.brand == 'visa' %}
                                    <img style="width: 48px"
                                         src="/static/assets/images/visa_icon.png"
                                         alt="Visa">
                                {% elif card_info.brand == 'mastercard' %}
                                    <img style="width: 48px"
                                         src="/static/assets/images/master_icon.png"
                                         alt="Mastercard">
                                {% elif card_info.brand == 'amex' %}
                                    <img style="width: 48px"
                                         src="/static/assets/images/amex_icon.png"
                                         alt="Mastercard">
                                {% elif card_info.brand == 'jcb' %}
                                    <img style="width: 48px"
                                         src="/static/assets/images/jcb_icon.png"
                                         alt="JCB">
                                {% endif %}
                            </div>
                            <button type="button" class="btn btn-outline-info"
                                    data-toggle="modal" data-target="#ccmodal">
                                {% if card_info %}
                                    Update
                                {% else %}
                                    Add New Card
                                {% endif %}
                            </button>
                            <div class="modal fade" id="ccmodal" tabindex="-1"
                                 role="dialog" aria-labelledby="ccmodalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered"
                                     role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <div class="mt-4">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <div class="input-group input-group-alternative mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i
                                                                        class="ni ni-single-02"></i></span>
                                                            </div>
                                                            <input id="name_on_card"
                                                                   class="form-control"
                                                                   placeholder="Name on card"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group"
                                                         action="/charge" method="post">
                                                        <div class="input-group input-group-alternative mb-3">
                                                            <div id="card-element">
                                                                <!-- A Stripe Element will be inserted here. -->
                                                            </div>
                                                        </div>

                                                        <div id="card-errors"
                                                             style="color: #f5365c"
                                                             role="alert"></div>
                                                    </div>
                                                    <button type="button"
                                                            class="update-card btn btn-block btn-info">
                                                        Update new card
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if card_info %}
                                <div class="col-auto">
                                    {% if card_expire_soon %}
                                        <span class="badge badge-lg badge-warning">Expire Soon</span>
                                    {% elif card_has_expired %}
                                        <span class="badge badge-lg badge-danger">Expired</span>
                                    {% else %}
                                        <span class="badge badge-lg badge-success">Active</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        {% if card_info %}
                            <div class="my-4">
                                <span class="h6 surtitle text-light">
                                  Card number
                                </span>
                                <div class="card-serial-number h1 text-white">
                                    <div>xxxx</div>
                                    <div>xxxx</div>
                                    <div>xxxx</div>
                                    <div>{{ card_info.last4 }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="h6 surtitle text-light">Name</span>
                                    <span class="d-block h3 text-white">{{ name_on_card }}</span>
                                </div>
                                <div class="col">
                                    <span class="h6 surtitle text-light">Expiry date</span>
                                    <span class="d-block h3 text-white">
                                        {{ ('0' + card_info.exp_month|string)[-2:] }}/{{ (card_info.exp_year|string)[-2:] }}
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <h2 style="color: white">No credit card provided</h2>
                        {% endif %}
                    </div>
                </div>
                <!-- Progress track -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <!-- Title -->
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="mb-0">Team members</h5>
                            </div>
                            <div class="col text-right">
                                {#                          <a class="btn btn-sm btn-primary" href="#">Send Invitation</a>#}
                                <button type="button" class="btn btn-sm btn-primary"
                                        data-toggle="modal" data-target="#modal-form">Send
                                    Invitation
                                </button>
                                <div class="modal fade" id="modal-form" tabindex="-1"
                                     role="dialog" aria-labelledby="modal-form"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-sm"
                                         role="document">
                                        <div class="modal-content">
                                            <div class="modal-body p-0">
                                                <div class="card bg-secondary border-0 mb-0">
                                                    <div class="card-body px-lg-5 py-lg-5">
                                                        <div class="text-center text-muted mb-4">
                                                            <small>Please enter the
                                                                recipient email</small>
                                                        </div>
                                                        <form role="form">
                                                            <div class="form-group mb-3">
                                                                <div class="input-group input-group-merge input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i
                                                                                class="ni ni-email-83"></i></span>
                                                                    </div>
                                                                    <input class="form-control recipient-email"
                                                                           placeholder="Email"
                                                                           type="email">
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <button type="button"
                                                                        class="btn btn-primary my-4 send-invitation">
                                                                    Send
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- List group -->
                        <ul class="list-group list-group-flush list my--3">
                            {% for email, role in team_users %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="">
                                            </a>
                                        </div>
                                        <div class="col ml--2">
                                            <h4 class="mb-0">{{ email }}</h4>
                                            <span class="text-success">●</span>
                                            <small>Accepted Invitation</small>
                                        </div>
                                        <div class="col-auto">
                                            {% if role != 'Admin' %}
                                                <button type="button"
                                                        class="btn btn-sm btn-danger"
                                                        data-toggle="modal"
                                                        data-target="#remove">
                                                    Remove
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="remove"
                                                     tabindex="-1"
                                                     role="dialog"
                                                     aria-labelledby="remove"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-"
                                                         role="document">
                                                        <div class="modal-content bg-gradient-danger">

                                                            <div class="modal-header">

                                                                <button type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">

                                                                <div class="py-3 text-center">
                                                                    <i class="ni ni-bell-55 ni-3x"></i>
                                                                    <h4 class="heading mt-4">
                                                                        You
                                                                        are about to
                                                                        remove a team
                                                                        member!</h4>
                                                                    <p>This cannot be
                                                                        undone, are
                                                                        you sure ?</p>
                                                                </div>

                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-white">
                                                                    Yeah, I'm sure
                                                                </button>
                                                                <button type="button"
                                                                        class="btn btn-link text-white ml-auto"
                                                                        data-dismiss="modal">
                                                                    Oh
                                                                    let me think about it
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="col-auto">Admin</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                            {% for email, valid in awaiting_emails %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="Image placeholder" src="">
                                            </a>
                                        </div>
                                        <div class="col ml--2">
                                            <h4 class="mb-0">{{ email }}</h4>
                                            {% if valid %}
                                                <span class="text-warning">●</span>
                                                <small>Pending</small>
                                            {% else %}
                                                <span class="text-danger">●</span>
                                                <small>Expired</small>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <button type="button"
                                                    class="btn btn-sm btn-neutral delete-invitation">
                                                Cancel
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button"
                                                    class="btn btn-sm btn-primary resend-email">
                                                Resend
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="nav-wrapper">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row"
                                id="tabs-icons-text" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 active"
                                       id="tabs-icons-text-1-tab" data-toggle="tab"
                                       href="#tabs-icons-text-1" role="tab"
                                       aria-controls="tabs-icons-text-1"
                                       aria-selected="true"><i
                                            class="ni ni-single-02  mr-2"></i>Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0"
                                       id="tabs-icons-text-2-tab" data-toggle="tab"
                                       href="#tabs-icons-text-2" role="tab"
                                       aria-controls="tabs-icons-text-2"
                                       aria-selected="false"><i
                                            class="ni ni-diamond mr-2"></i>Workspace</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0"
                                       id="tabs-icons-text-3-tab" data-toggle="tab"
                                       href="#tabs-icons-text-3" role="tab"
                                       aria-controls="tabs-icons-text-3"
                                       aria-selected="false"><i
                                            class="ni ni-diamond mr-2"></i>Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tabs-icons-text-1"
                                 role="tabpanel"
                                 aria-labelledby="tabs-icons-text-1-tab">
                                <form>
                                    <h6 class="heading-small text-muted mb-4">User
                                        information</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-username">
                                                        Username (readonly)
                                                    </label>
                                                    <input type="text"
                                                           id="input-username "
                                                           class="form-control"
                                                           placeholder="Username"
                                                           disabled
                                                           value="{{ user_info.username }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-email">Email
                                                        address</label>
                                                    <input type="email" id="input-email"
                                                           class="form-control"
                                                           placeholder="jesse@example.com"
                                                           value="{{ user_info.email }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-first-name">First
                                                        name</label>
                                                    <input type="text"
                                                           id="input-first-name"
                                                           class="form-control"
                                                           placeholder="First name"
                                                           value="{{ user_info.first_name }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-last-name">Last
                                                        name</label>
                                                    <input type="text"
                                                           id="input-last-name"
                                                           class="form-control"
                                                           placeholder="Last name"
                                                           value="{{ user_info.last_name }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4"/>
                                    <!-- Address -->
                                    <h6 class="heading-small text-muted mb-4">Contact
                                        information</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-address">Address</label>
                                                    <input id="input-address"
                                                           class="form-control"
                                                           placeholder="Home Address"
                                                           value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-city">City</label>
                                                    <input type="text" id="input-city"
                                                           class="form-control"
                                                           placeholder="City"
                                                           value="New York">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-country">Country</label>
                                                    <input type="text" id="input-country"
                                                           class="form-control"
                                                           placeholder="Country"
                                                           value="United States">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-country">Postal
                                                        code</label>
                                                    <input type="number"
                                                           id="input-postal-code"
                                                           class="form-control"
                                                           placeholder="Postal code">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4"/>
                                    <!-- Description -->
                                    <h6 class="heading-small text-muted mb-4">About
                                        me</h6>
                                    <div class="pl-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label">About
                                                Me</label>
                                            <textarea rows="4" class="form-control"
                                                      placeholder="A few words about you ...">A beautiful premium dashboard for Bootstrap 4.</textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-icon btn-primary" type="button"
                                            style="float: right"
                                            data-toggle="notify" data-placement="top"
                                            data-align="center"
                                            data-type="success" data-icon="ni ni-bell-55">
                                        <span class="btn-inner--icon"><i
                                                class="far fa-save"></i></span>
                                        <span class="btn-inner--text">Save changes</span>
                                    </button>
                                </form>


                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-2"
                                 role="tabpanel"
                                 aria-labelledby="tabs-icons-text-2-tab">
                                <form>
                                    <h6 class="heading-small text-muted mb-4">Team
                                        Information</h6>
                                    <div class="pl-lg-4">

                                        <div class="row" style="padding-top: 10px">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-team">Team
                                                        name</label>
                                                    <input type="text"
                                                           id="input-username "
                                                           class="form-control"
                                                           placeholder="Username"
                                                           value={{ cur_team.team_name }}>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-business">Business
                                                        name</label>
                                                    <input type="email" id="input-email"
                                                           class="form-control"
                                                           placeholder="My Business">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-email">Website</label>
                                                    <input type="text" id="input-website"
                                                           class="form-control"
                                                           placeholder="www.xxx.com"
                                                           value="www.xxx.com">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-last-name">
                                                        Team Email
                                                    </label>
                                                    <input type="text"
                                                           id="input-last-name"
                                                           class="form-control"
                                                           placeholder="jesse@example.com"
                                                           value="jesse@example.com">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4"/>
                                    <!-- Address -->
                                    <h6 class="heading-small text-muted mb-4">
                                        Billing Information
                                    </h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-address">Address</label>
                                                    <input id="input-address"
                                                           class="form-control"
                                                           placeholder="Home Address"
                                                           value="{{ cus_address.line1 }}"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-city">City</label>
                                                    <input type="text" id="input-city"
                                                           class="form-control"
                                                           placeholder="City"
                                                           value="{{ cus_address.city }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-country">Country</label>
                                                    <select class="form-control crs-country"
                                                            data-region-id="region_select"
                                                            data-value="shortcode"
                                                            data-default-value="{{ cus_address.country }}"
                                                            id="country_select">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-country">
                                                        State
                                                    </label>
                                                    <select class="form-control region-selector"
                                                            id="region_select"
                                                            data-value="shortcode"
                                                            data-default-value="{{ cus_address.state }}">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-control-label"
                                                           for="input-country">Postal
                                                        code</label>
                                                    <input type="text"
                                                           id="input-postal-code"
                                                           class="form-control"
                                                           placeholder="{{ cus_address.postal_code }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4"/>
                                    <!-- Description -->

                                </form>
                                <button class="btn btn-icon btn-primary" type="button"
                                        style="float: right"
                                        data-toggle="notify" data-placement="top"
                                        data-align="center"
                                        data-type="success" data-icon="ni ni-bell-55">
                                    <span class="btn-inner--icon"><i
                                            class="far fa-save"></i></span>
                                    <span class="btn-inner--text">Save changes</span>
                                </button>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-3"
                                 role="tabpanel"
                                 aria-labelledby="tabs-icons-text-3-tab">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <!-- Card header -->
                                            <div class="card-header">
                                                <h3 class="mb-0">Billing History</h3>
                                            </div>
                                            <div class="table-responsive py-4">
                                                <table class="table table-flush"
                                                       id="datatable-buttons">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th>Invoice#</th>
                                                        <th>Plan</th>
                                                        <th>Issued Date</th>
                                                        <th>Subscription Cost</th>
                                                        <th>Business Cases Cost</th>
                                                        <th>Status</th>
                                                        <th>Download</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Invoice#</th>
                                                        <th>Plan</th>
                                                        <th>Issued Date</th>
                                                        <th>Subscription Cost</th>
                                                        <th>Business Cases Cost</th>
                                                        <th>Status</th>
                                                        <th>Download</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    {% for invoice in cus_invoices %}
                                                        <tr>
                                                            <td>{{ invoice['invoice_id'] }}</td>
                                                            <td>{{ invoice['plan_name'] }}</td>
                                                            <td>{{ invoice['date'] }}</td>
                                                            <td>$599</td>
                                                            <td>{{ invoice['status'] }}</td>
                                                            <td>{{ invoice['total'] }}</td>
                                                            <td>
                                                                <a href="{{ invoice['link'] }}"><i
                                                                        class="ni ni-cloud-download-95"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-icon btn-primary" type="button"
                                        style="float: right"
                                        data-toggle="notify" data-placement="top"
                                        data-align="center"
                                        data-type="success" data-icon="ni ni-bell-55">
                                    <span class="btn-inner--icon"><i
                                            class="far fa-save"></i></span>
                                    <span class="btn-inner--text">Save changes</span>
                                </button>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block tail_js %}
    <script src="/static/assets/stylesheets/argon_assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/stylesheets/js/jquery.crs.min.js"></script>
    <script>
        $(document).ready(function () {
            const stripe = Stripe('pk_test_2CT1LvA7viLp1j7yCHJ2MezU00xXxxnRdM');
            const elements = stripe.elements();
            const style = {
                base: {
                    color: '#32325d',
                    fontFamily: '"Open Sans, sans-serif',
                    letterSpacing: 'normal',
                    fontSize: '0.875rem',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#f5365c',
                    iconColor: '#f5365c'
                }
            };
            const card = elements.create('card', {style: style});
            card.mount('#card-element');
            card.addEventListener('change', function (event) {
                const displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            $('.update-card').click(function () {
                const name_on_card = $("#name_on_card").val();
                if (name_on_card === null || name_on_card.length === 0) {
                    return $("#card-errors").html('Name on card cannot be empty');
                }
                stripe.createToken(card, {name: name_on_card}).then(function (result) {
                    if (result.error) {
                        // Inform the user if there was an error.
                        $("#card-errors").html(result.error.message);
                    } else {
                        // Send the token to your server.
                        let csrf_token = "{{ csrf_token() if csrf_token else '' }}";
                        $(".update-card").replaceWith("<div style=\"text-align: center\"><img src=\"/static/assets/images/loading.gif\" style=\"width: 43px;\"></div>");
                        $.ajaxSetup({
                            beforeSend: function (xhr, settings) {
                                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                }
                            }
                        });
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for('SolarBIBillingView.update_card_info') }}",
                            data: JSON.stringify({pm_id: result.token.id}),
                            contentType: 'application/json;charset=UTF-8',
                            success: function (data) {
                                if (data.redirect) {
                                    window.location.replace(data.redirect)
                                }
                                console.log('success')
                            }
                        });
                    }
                });
            });


            $('.send-invitation').click(function () {
                let selected_email = $(".recipient-email").val();
                let csrf_token = "{{ csrf_token() if csrf_token else '' }}";
                $(this).replaceWith("<img src=\"/static/assets/images/loading.gif\" style=\"width: 40px; margin: 24px 0;\">");
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('SolarBIRegisterInvitationUserDBView.send_invitation') }}",
                    data: JSON.stringify({selected_email: selected_email}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (data) {
                        if (data.redirect) {
                            window.location.replace(data.redirect)
                        }
                        console.log('success')
                    }
                });
            });

            $('.resend-email').click(function () {
                let selected_email = $(this).parent().prev().prev().children(':first').html();
                let csrf_token = "{{ csrf_token() if csrf_token else '' }}";
                $(this).replaceWith("<img src=\"/static/assets/images/loading.gif\" style=\"width: 28px; margin: 0 15.5px;\">");
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('SolarBIRegisterInvitationUserDBView.resend_email') }}",
                    data: JSON.stringify({selected_email: selected_email}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (data) {
                        if (data.redirect) {
                            window.location.replace(data.redirect)
                        }
                        console.log('success')
                    }
                });
            });

            $('.delete-invitation').click(function () {
                let selected_email = $(this).parent().prev().children(':first').html();
                let csrf_token = "{{ csrf_token() if csrf_token else '' }}";
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('SolarBIRegisterInvitationUserDBView.delete_invitation') }}",
                    data: JSON.stringify({selected_email: selected_email}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (data) {
                        if (data.redirect) {
                            window.location.replace(data.redirect)
                        }
                        console.log('success')
                    }
                });
            });
        });
    </script>
{% endblock %}