{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends 'appbuilder/general/widgets/solarbi_base.html' %}
{% import 'appbuilder/general/lib.html' as lib %}

{% set is_team_owner = appbuilder.sm.get_role_in_team(g.user, session_team[0]).name == 'team_owner' %}
{% set download_prefix = "https://colin-query-test.s3-ap-southeast-2.amazonaws.com/" %}
{% set user_id = g.user.id %}

{% block header %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0"></h6>
                        <nav aria-label="breadcrumb"
                             class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i
                                        class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Advance Request
                                    List</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="/solar/add" class="btn btn-md btn-neutral">
                            New Search
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--5">
        <div class="row">
            <div class="col-lg-6 col-7" style="padding-left: 15%; padding-bottom: 2.5%">
                <span class="font-weight-bold"
                      style="color: whitesmoke; padding-bottom: 10%"> List By Title</span>
            </div>
            <div class="col-lg-6 col-5" style="padding-left: 16.5%; padding-bottom: 2.5%">
                <div class="btn-group">
                    <button id="data_owners_btn"
                            type="button" class="btn  dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="color: whitesmoke">
                        Owned by anyone
                    </button>
                    <div id="data_owners_dropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Owned by anyone</a>
                        <a class="dropdown-item" href="#">Owned by me</a>
                        <a class="dropdown-item" href="#">Not owned by me</a>
                    </div>
                </div>
                <span class="view-toggler" data-toggle="tooltip" data-placement="right"
                      title="Toggle view"
                      style="color: whitesmoke;padding-left: 2.5%;">
                    <i class="fas fa-th"></i>
                    <i class="fas fa-list" style="display: none"></i>
                </span>
            </div>
        </div>
    </div>

    <form class="navbar-search navbar-search-light form-inline mr-sm-3"
          id="navbar-search-main">
        <div class="form-group mb-3" style="margin: auto">
            <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input id="searchInput" class="form-control" placeholder="Search"
                       type="text">
            </div>
        </div>
        <button type="button" class="close" data-action="search-close"
                data-target="#navbar-search-main"
                aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </form>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if value_columns %}
            <div class="row data-grid-view card-deck" style="padding: 0 100px">
                {% for item in value_columns %}
                    {% if 'None' not in item['slice_query_id'] %}
                        <div class="col-lg-3 col-md-6 data-card creator_id_{{ item['creator_by_id'] }}">
                            <div class="card">
                                <div class="card-body" style="text-align:center">
                                    <div class=" justify-content-between align-items-center">
                                        <img class="card-img-top "
                                             src="/static/assets/images/preview.png"
                                             alt="Card image cap">
                                        <div class="card-profile-image">
                                            <a href="#">
                                                <img src="https://www.gravatar.com/avatar/{{ item['creator_by_email_hash'] }}"
                                                     class="avatar rounded-circle">
                                            </a>
                                        </div>
                                    </div>
                                    <h4 class="card-title"
                                        style="text-align: center;padding-top: 7.5%">
                                         {{ item['view_slice_name'] }}
                                    </h4>
                                    <ul class="list-group list-group-flush list my--3">
                                        <li class="list-group-item px-0"
                                            style="text-align:center; height: 120px">
                                            <p>
                                                {{ item['slice_address'] }}, {{ item['slice_start_date'] }}
                                                to {{ item['slice_end_date'] }}, {{ item['slice_resolution'] }}
                                            </p>
                                        </li>
                                        <li class="list-group-item px-0">
                                            {% if item['slice_query_id'] in obj_keys %}
                                                {% for aok in avail_object_keys %}
                                                    {% if item['slice_query_id'] in aok %}
                                                        <button type="button"
                                                                class="btn btn-primary btn-sm"
                                                                style="float: left">
                                                            View
                                                        </button>
                                                        <button type="button"
                                                                style="float: right"
                                                                class="btn btn-secondary btn-sm"
                                                                onclick="downloadLink('{{ download_prefix + aok }}')">
                                                            Download
                                                        </button>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <p style="margin-bottom: 0">
                                                    Pending
                                                </p>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row data-list-view" style="display: none">
                <div class="col-lg-9" style="margin: auto">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name
                                    </th>
                                    <th scope="col" class="sort" data-sort="address">
                                        Address
                                    </th>
                                    <th scope="col" class="sort" data-sort="date">Date
                                    </th>
                                    <th scope="col" class="sort" data-sort="status">Status
                                    </th>
                                    <th scope="col" class="sort" data-sort="granularity">
                                        Granularity
                                    </th>
                                    <th scope="col">Owner</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for item in value_columns %}
                                    {% if 'None' not in item['slice_query_id'] %}
                                        <tr class="data-card creator_id_{{ item['creator_by_id'] }}">
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">Custom Name</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="address">{{ item['slice_address'] }}</td>
                                            <td class="date">
                                                {{ item['slice_start_date'] }} to </br>{{ item['slice_end_date'] }}
                                            </td>
                                            <td>
                                                {% if item['slice_query_id'] in obj_keys %}
                                                    {% for aok in avail_object_keys %}
                                                        {% if item['slice_query_id'] in aok %}
                                                            <span class="badge badge-dot mr-4">
                                                            <i class="bg-success"></i>
                                                            <span class="status">Completed</span>
                                                        </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="badge badge-dot mr-4">
                                                    <i class="bg-warning"></i>
                                                    <span class="status">Pending</span>
                                                </span>
                                                {% endif %}
                                            </td>
                                            <td class="granularity">
                                                {{ item['slice_resolution']|capitalize }}
                                            </td>
                                            <td>
                                                <div class="avatar-group">
                                                    <a href="#"
                                                       class="avatar avatar-sm rounded-circle"
                                                       data-toggle="tooltip"
                                                       data-original-title="{{ item['changed_by_name'] }}">
                                                        <img alt="Image placeholder"
                                                             src="https://www.gravatar.com/avatar/{{ item['creator_by_email_hash'] }}">
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                {% if item['slice_query_id'] in obj_keys %}
                                                    {% for aok in avail_object_keys %}
                                                        {% if item['slice_query_id'] in aok %}
                                                            <div class="dropdown">
                                                                <a class="btn btn-sm btn-icon-only text-light"
                                                                   href="#" role="button"
                                                                   data-toggle="dropdown"
                                                                   aria-haspopup="true"
                                                                   aria-expanded="false"
                                                                   style="padding: 10px 0">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                                    <a class="dropdown-item"
                                                                       href="#">View</a>
                                                                    <a class="dropdown-item"
                                                                       href="#">Download</a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <span>Pending</span>
                                                {% endif %}
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        {% else %}
            <h2 style="text-align: center">No advance request records to display</h2>
        {% endif %}
    </div>
{% endblock %}



{% block tail_js %}
    <script src="/static/assets/stylesheets/argon_assets/vendor/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.view-toggler').click(function () {
                if ($('.view-toggler .fa-th').is(":visible")) {
                    $('.view-toggler .fa-th').hide();
                    $('.data-grid-view').hide();
                    $('.view-toggler .fa-list').show();
                    $('.data-list-view').show();
                } else {
                    $('.view-toggler .fa-list').hide();
                    $('.data-list-view').hide();
                    $('.view-toggler .fa-th').show();
                    $('.data-grid-view').show();
                }
            });

            $("#searchInput").on("keyup", function () {
                let value = $(this).val().toLowerCase();
                $(".data-card").filter(function () {
                    if ($("#data_owners_btn").text() === 'Owned by me') {
                        $(this).filter('.creator_id_{{ user_id }}').toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    } else if ($("#data_owners_btn").text() === 'Not owned by me') {
                        $(this).filter(':not(.creator_id_{{ user_id }})').toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    } else {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    }
                });
            });

            $('#data_owners_dropdown a').click(function () {
                $("#searchInput").val('');
                const item = $(this).text();

                $('#data_owners_btn').text(item);
                if (item === 'Owned by anyone') {
                    $('.data-card').show();
                } else if (item === 'Owned by me') {
                    $('.data-card').show().filter(':not(.creator_id_{{ user_id }})').hide();
                } else {
                    $('.data-card').show().filter('.creator_id_{{ user_id }}').hide();
                }
            });
        });
    </script>
    <script>
        function downloadLink(link) {
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = link;
            document.body.appendChild(a);
            a.click();
            a.remove();
        }
    </script>
{% endblock %}

{#{% block begin_title %}#}
{#    <div class="title-card">#}
{#        <div class="card-container">#}
{#            <p style="font-size: 20px; font-weight: 500; color: #0063B0; margin: 0">Use Your Saved Searches</p>#}
{#            <p style="font-size: 15px; color: #0063B0;">All your saved searches can be re-use to run different combinations of type (DNI or GHI), Length (Up to 30 years) and resolution (hourly, daily, weekly, monthly or yearly)</p>#}
{#        </div>#}
{#        <a href="/solar/add" class="my-data-add">New Search</a>#}
{#    </div>#}
{#    <div class="my-data-search-container">#}
{#        <i class="fas fa-search my-data-search-icon"></i>#}
{#        <input id="searchInput" class="my-data-search" type="text" placeholder="Search Data Sets">#}
{#        <div class="my-data-radio-group">#}
{#            <input type="radio" id="option-one" name="selector" value="all" checked="checked"><label for="option-one">All</label><input type="radio" id="option-two" name="selector" value="saved"><label for="option-two">Saved</label><input type="radio" id="option-three" name="selector" value="paid"><label for="option-three">Downloads</label>#}
{#        </div>#}
{#    </div>#}
{##}
{#     <div class="my-data-radio-group">#}
{#        <input type="radio" id="option-one" name="selector" value="all" checked="checked"><label for="option-one">All</label><input type="radio" id="option-two" name="selector" value="saved"><label for="option-two">Saved</label><input type="radio" id="option-three" name="selector" value="downloads"><label for="option-three">Downloads</label>#}
{#     </div>#}
{##}
{#{% endblock %}#}
{##}
{#{% block begin_content scoped %}#}
{#    <div class="list-cards-wrapper">#}
{#    <div class="table-responsive">#}
{#    <table class="table table-bordered table-hover">#}
{#{% endblock %}#}
{##}
{#{% block begin_loop_values %}#}
{#    {% for item in value_columns %}#}
{#        <div class="list-card">#}
{#            {% set formatter = formatters_columns.get(value) %}#}
{#            {% if 'None' in item['slice_query_id'] %}#}
{#                href={{ "/solar/delete/"+item['slice_id'] }}#}
{#                <a data-href={{ "/solar/delete/"+item['slice_id'] }} type="button" class="delete-btn" data-toggle="modal" data-target="#deleteData"><i class="far fa-trash-alt"></i></a>#}
{#                <div class="list-container">#}
{#                    <div class="ribbon saved-ribbon-top-right"><span>saved</span></div>#}
{#                    {% if formatter %}#}
{#                        {{ formatter(item['view_slice_name']) }}#}
{#                    {% else %}#}
{#                        {{ item['view_slice_name'] }}#}
{#                    {% endif %}#}
{#                    <hr style="border-bottom: 1px solid #C7C9CB; width: 80px; margin: -10px auto 10px;">#}
{#                    {% if is_team_owner %}#}
{#                        <h6>Owner: {{ item['changed_by_name'] }}</h6>#}
{#                    {% endif %}#}
{#                    <i class="fas fa-chart-pie my-data-pie"></i>#}
{#                    {{ item['view_slice_link'] }}#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="ribbon ribbon-top-right"><span>paid</span></div>#}
{#                <div class="download-container">#}
{#                {% if formatter %}#}
{#                    {{ formatter(item['view_slice_name']) }}#}
{#                {% else %}#}
{#                   {% set info = item['view_slice_name'].split('_') %}#}
{#                   <table>#}
{#                      {% if not is_team_owner %}#}
{#                          <div style="margin-top: 20px"></div>#}
{#                      {% endif %}#}
{#                      <tr>#}
{#                        <td>Address</td>#}
{#                        <td><div>{{ info[0][3:] }}</div></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Start Date</td>#}
{#                        <td>{{ info[1] }}</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>End Date</td>#}
{#                        <td>{{ info[2] }}</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Type</td>#}
{#                        <td>{{ info[3] }}</td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <td>Resolution</td>#}
{#                        <td>{{ info[4][:-4] }}</td>#}
{#                      </tr>#}
{#                      {% if is_team_owner %}#}
{#                          <tr>#}
{#                            <td>Owner</td>#}
{#                            <td>{{ item['changed_by_name'] }}</td>#}
{#                          </tr>#}
{#                      {% endif %}#}
{#                      <tr>#}
{#                        <td>Status</td>#}
{#                          {% if item['slice_query_id'] in obj_keys %}#}
{#                             <td>#}
{#                             {% for aok in avail_object_keys %}#}
{#                                 {% if item['slice_query_id'] in aok %}#}
{#                                    Completed#}
{#                                    <span class="download-link" onclick="download1('{{ download_prefix + aok }}')">#}
{#                                      <i class="fas fa-arrow-circle-down"></i>#}
{#                                    </span>#}
{#                                 {% endif %}#}
{#                             {% endfor %}#}
{#                             </td>#}
{#                          {% else %}#}
{#                              <td>Still running</td>#}
{#                          {% endif %}#}
{#                      </tr>#}
{#                    </table>#}
{#                {% endif %}#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endfor %}#}
{##}
{#    <div class="modal fade" id="deleteData" tabindex="-1" role="dialog" aria-labelledby="deleteDataTitle" aria-hidden="true">#}
{#      <div class="modal-dialog modal-dialog-centered" role="document">#}
{#        <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <h5 class="modal-title" id="deleteDataTitle">Delete Saved Data</h5>#}
{#            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#              <span aria-hidden="true">&times;</span>#}
{#            </button>#}
{#          </div>#}
{#          <div class="modal-body">#}
{#            Are you sure to delete this saved data?#}
{#          </div>#}
{#          <div class="modal-footer">#}
{#            <button type="button" class="btn delete-close-btn" data-dismiss="modal">Close</button>#}
{#            <a id="deleteButton" type="button" class="btn btn-danger">Delete</a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{##}
{#{% block tail_js %}#}
{#    <script>#}
{#        function download1(link) {#}
{#            const a = document.createElement('a');#}
{#            a.style.display = 'none';#}
{#            a.href = link;#}
{#document.body.appendChild(a);#}
{#            a.click();#}
{#            a.remove();#}
{#        }#}
{#    </script>#}
{#    <script>#}
{#        $(document).ready(function(){#}
{#            $('#deleteData').on('shown.bs.modal',function(e){#}
{#                $(this).find('#deleteButton').attr('href', ($(e.relatedTarget).attr("data-href")));#}
{#            });#}
{##}
{##}
{#            $("#searchInput").on("keyup", function() {#}
{#                var value = $(this).val().toLowerCase();#}
{#                if ($('input:radio[name="selector"]:checked').val() === 'all') {#}
{#                    $(".list-card").filter(function() {#}
{#                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)#}
{#                    });#}
{#                } else if ($('input:radio[name="selector"]:checked').val() === 'saved') {#}
{#                    $(".list-card").filter(function() {#}
{#                        $(this).toggle(#}
{#                            $(this).text().toLowerCase().indexOf(value) > -1 && $(this).find('span').text().toLowerCase().indexOf('saved') > -1#}
{#                        )#}
{#                    });#}
{#                } else {#}
{#                    $(".list-card").filter(function() {#}
{#                        $(this).toggle(#}
{#                            $(this).text().toLowerCase().indexOf(value) > -1 && $(this).find('span').text().toLowerCase().indexOf('paid') > -1#}
{#                        )#}
{#                    });#}
{#                }#}
{##}
{#            });#}
{##}
{#          $(".list-card > div > p").each(function() {#}
{#              var el= $(this);#}
{#              var textLength = el.html().length;#}
{#              if (textLength <= 17) {#}
{#                  el.css('font-size', '1.5em');#}
{#              } else if (textLength > 17 && textLength <= 25) {#}
{#                  el.css('font-size', '1.3em');#}
{#              } else if (textLength > 25) {#}
{#                  el.css('font-size', '1.0em');#}
{#              }#}
{#          });#}
{#        });#}
{##}
{#        $('input:radio[name="selector"]').change(function() {#}
{#            $('#searchInput').val('');#}
{#            if ($(this).val() === 'all') {#}
{#                $(".list-card").show()#}
{#            } else if ($(this).val() === 'saved') {#}
{#                $(".list-card").filter(function() {#}
{#                    $(this).toggle($(this).find('span').text().toLowerCase().indexOf('saved') > -1)#}
{#                });#}
{#            } else if ($(this).val() === 'paid') {#}
{#                $(".list-card").filter(function() {#}
{#                    $(this).toggle($(this).find('span').text().toLowerCase().indexOf('paid') > -1)#}
{#                });#}
{#            }#}
{#        });#}
{##}
{#    </script>#}
{#{% endblock %}#}
{##}
{#{% block end_content scoped %}#}
{#    </table>#}
{#    </div>#}
{#{% endblock %}#}
